.countdown-timer_container {
  height: 100vh;
  background: url("./../../assets/images/bg-stars.svg");
  background-color: $Very-dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .hills {
    width: 100%;
  }
}
